
@{
    ViewData["Title"] = "MultipleOrders";
}

<h1>Multiple Orders</h1>


<div>

        <table class="table">
            <thead>

                <tr>
                    <th>
                        First Name:
                    </th>
                    <th>
                        Last Name:
                    </th>
                    <th>
                        Open Orders:
                    </th>
                </tr>
                @foreach (var order in Model.Orders)
                {
                    <table>
                        <tr> Order No : </tr>
                        <tr> Order Date : </tr>
                        <thead>
                            <tr>
                                <th>
                                    Product Type
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orderProduct in order)
                            {
                                <tr>
                                    <td>
                                        @orderProduct.ProductType.Label
                                    </td>
                                    <td>
                                        @orderProduct.Product.Title
                                    </td>
                                    <td>
                                        @orderProduct.Price
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </tbody>
    </table>

    <a asp-action="Index">Back</a>
</div>