@model Bangazon.Models.ProductViewModels.UploadImageViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for=" product.Description" class="control-label"></label>
                <input asp-for=" product.Description" class="form-control" />
                <span asp-validation-for=" product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" product.Title" class="control-label"></label>
                <input asp-for=" product.Title" class="form-control" />
                <span asp-validation-for=" product.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" product.Price" class="control-label"></label>
                <input asp-for=" product.Price" class="form-control" />
                <span asp-validation-for=" product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product.Quantity" class="control-label"></label>
                <input asp-for="product.Quantity" class="form-control" />
                <span asp-validation-for="product.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type = "hidden" asp-for=" product.UserId" class ="form-control" asp-items="ViewBag.UserId" />
            </div>
            <div class="form-group">
                <label asp-for=" product.City" class="control-label"></label>
                <input asp-for=" product.City" class="form-control" />
                <span asp-validation-for=" product.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" /><br><br>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" product.ProductTypeId" class="control-label"></label>
                <select asp-for=" product.ProductTypeId" class ="form-control" asp-items="ViewBag.ProductTypeId">
                    <option value=0>Choose Category</option>
                </select>
            </div>
            @*if product type is null displays window message*@
            @if(ViewBag.Message != null)
            {
                <script type="text/javascript">
                    window.onload = function() {
                        alert("@ViewBag.Message");
                    }
                </script>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
