
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>
<p>
    <a asp-action="CreatePaymentType">Add Payment Type</a>
</p>
<p>
    <a asp-action="SettingsIndex">My Settings</a>
</p>
<p>
    <a asp-area="" asp-controller="Products" asp-action="MyProducts">My Products</a>
</p>
<dv></dv>