@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "Index";
}


    <div>
        @foreach (var item in Model)
        {
            <h1>Shopping Cart (@item.OrderProducts.Count() items)</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Title:
                        </th>
                        <th>
                            Price:
                        </th>

                        <th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var orderProduct in item.OrderProducts)
                    {
                        <tr>
                            <td>
                                @orderProduct.Product.Title
                            </td>
                            <td>
                                @orderProduct.Product.Price
                            </td>
                            <td>
                                <a>Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h6>Total: $@item.OrderProducts.Sum(op => op.Product.Price)</h6>
            <div><a>Confirm Order</a> | <a>Cancel Order</a></div>
        }
    </div>