@model IEnumerable<Bangazon.Models.ProductType>

@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Categories</h1>
    <hr />
    @foreach (var item in Model)
    {
        <h4>
            @Html.DisplayFor(modelItem => item.Label) (@item.Products.Count())
        </h4> 
        @foreach (var product in ViewBag.Products)
        {
            <ul>
                @if (product.ProductType.Label == item.Label)
                {
                    <li>
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">@product.Title</a>
                    </li>
                }
            </ul>
        }
    }
</div>
