@model IEnumerable<Bangazon.Models.ProductType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
                @foreach (var product in ViewBag.Products)
                {
                    @if (product.ProductType.Label == item.Label)
                    {
                        <td>
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">@product.Title</a>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
